@model Health_Application.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        height: 450px
    }
</style>
<div class="container">
    <hr />

    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

        </dl>


    </div>
    @if (Request.IsAuthenticated)
    {
       
            @Html.TextArea("myTextArea", "", new { @class = "form-control col-md-5 offset-6" })
            <br/>
            <button type="button" class="btn btn-info btn-sm col-md-1 offset-10" id="reply">Reply</button>
        
    }
</div>
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
</div>

<script>
    $(document).ready(function () {
        $('#reply').click(function (e) {
            e.preventDefault();
            $(this).parents().next('dd').toggle();
                
            });
    });
</script>


