@model Health_Application.PostsViewModel.PostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        height: 450px
    }
</style>
<div class="container">
    <hr />

    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Post.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Post.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Post.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Post.Body)
            </dd>

        </dl>

    </div>

    @if (Model.Post.Response.Count() > 0)
    {
        foreach (var item in Model.Post.Response)
        {
            <dl>
                <dd>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </dd>
                <dd>
                    @Html.DisplayFor(modelItem => item.Time)
                </dd>
                <dd>
                    @Html.DisplayFor(modelItem => item.Message)
                </dd>
            </dl>
        }
    }
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Reply", "Posts", FormMethod.Post, new { id = "DataForm", @class = "navbar-right" }))
        {
            @Html.TextAreaFor(m => m.Response.Message, new { @class = "form-control col-md-5 offset-6", required = "required" })
            <br />
            @Html.HiddenFor(m => m.Response.Id)
            <input id="btn2" type="submit" value="Reply" class="btn btn-info btn-sm col-md-1 offset-10" />
        }
    }
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
</div>

<script>
    $(document).ready(function () {
        $('#reply').click(function (e) {
            e.preventDefault();
            $(this).parents().next('dd').toggle();

        });
    });
</script>


