@model IEnumerable<Health_Application.Models.Post>

@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Forum</h2>

    <p>
        @Html.ActionLink("New Post", "Create",null, new {@class= "btn btn-primary btn-md" })
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Title</label>
                </th>
                <th>
                    <label>User</label>
                </th>
                <th>
                    <label>Time</label>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    @Html.ActionLink("Read", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                    @if (item.User.Id == (String)ViewData["userId"])
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })<span> </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {


    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
